@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
    
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
    
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
    
}



@media only screen and (min-width:440px){

    .container{
        margin-right: 5px;
        margin-left: 5px;
        background: #DBEFF9;
        border-radius:25px 25px;
    }
    .title{
        /* padding-top: 50px;  */
        font-family: Montserrat-Medium;
        width: 75%;
        color: #2C4674;
        text-align: center;
        font-size: 24px;
        padding-top: 40px;

    }

    .corazon{
        margin-right: 45px;
        float: right;
        padding-top: 44px;
    }
    .volver{
        margin-left: 10px;
        float: left;
        width: 20%;
        padding-top: 40px;
        /* elemto padre */

        position: relative;

    }
    .volver:hover{
        cursor: pointer;
        transform: translateX(-5px);
        transition: 200ms;
        filter: none;
        

    }

   
   
    
    /* contenido general */
    .vistaPerro{
        
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 20px; 

        /* text-align: center;   */
        display: grid;
        grid-template-columns: 1fr;    
    }
    /* contenedor de la vista */
    .perro{
   
        /* elemto padre */
        text-align: center;
        background-color: #488dB3;
        border-radius:25px 25px;
    }
    
    .gato{
        /* elemto padre */
        text-align: center;
        background-color: #D1723F;
        border-radius:25px 25px;
        
    }


    .contenedorVista{ 
    /* elemento hijo */

        position: absolute;
        top: 49%;
        left: 10%;
        right: 10%; 

        display: grid;
        /* Columnas a la izquierda de una fraciojn */
        grid-template-columns: repeat(4, 1fr) ;
        gap: 5px;

    }
    /* campos */
    .cad1{
        text-align: center;  
    }
    .titulos{
        padding-top: 10px;
        background-color: #DBEFF9;
        padding-bottom: 5px;
        border-radius:25%;
        height: 60px;
        width: 78px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }

    .titulo1{
        /* text-align: center; */
        color: #2C4674;
        font-size: 16px;
        font-family:Montserrat-Bold ;
    }
    .titulo2{
        /* text-align: center; */
        color: #969696;
        font-size: 16px;
        font-family:Montserrat-Medium ;
    }
    .informacion{
        margin-top: 10px;
        
        flex-direction: column;
        justify-content: space-between;
        
    }
    .nombre-perro{
        margin-left: 10px;
        color: #2C4674;
        font-family:Montserrat-Bold ;
        font-size: 24px;
    }
   

    
    .valor{
        margin-right: 10px;
        color: #2C4674;
        font-family:Montserrat-Bold ;
        font-size: 24px;
        float: right;
    }
    .raza{
        margin-left: 10px;
        color: #6AA5E3;
        font-family:Montserrat-Medium ;
        font-size: 16px;
    }
    
    .dueño{
        margin-top: 20px;
        flex-direction: column;
        justify-content: space-between;
    }

    .foto{
        margin-left: 10px;
        /* position: relative; */
        float: left;
    }

    .nombre-Dueño{
        margin-top: 15px;
        margin-left: 95px;
        color: #2C4674;
        font-family:Montserrat-Bold ;
        font-size: 16px;
        /* position: absolute;
        top: 73%;
        left: 30%; */
    }

    .ubicacion{
        margin-left: 95px;
        color: #6aa5e3;
        font-family:Montserrat-Medium ;
        font-size:16px;
        /* position: absolute;
        top: 75%;
        left: 30%; */
    }

    .boton-vista{
        border-radius: 20%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
     
    #btn{
        background-color: #58C084;
        border-radius: 25px 25px;
        border: none;
        width: 95%;
        height: 55px;
        color: #FFFF;
        font-size: 18px;
        font-family: Montserrat-Medium;
    }

    #btn:hover{
        cursor: pointer;
        background: #4ca772;

    }
    

}



